html {
  max-width: 100vw;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.miniSOL {
  font: "Le Jour", Serif;
  color: #ffbf00;
}

.miniMUN {
  font: "Le Jour", Serif;
  color: #2ba5a5;
}

.slide {
  max-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  margin: 0;
  max-width: 100vw;
}

.background {
  background-image: url(Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.drutil {
  height: 100vh;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  box-sizing: border-box;
}

.heading-text {
  margin: auto;
}

.title {
  opacity: 0;
}

.header,
.zeuz {
  font-size: 64px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 100%;
  }

  99% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

.zeuz {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 30%;
  color: rgb(255, 255, 255);
  animation: appear 2s linear forwards;
}

@keyframes lightning {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.6);
  }

  51% {
    background-color: rgba(255, 255, 255, 1);
  }

  53% {
    background-color: rgba(0, 0, 0, 0.6);
  }

  54% {
    background-color: rgba(255, 255, 255, 1);
  }

  57% {
    background-color: rgba(0, 0, 0, 0.6);
  }

  58% {
    background-color: rgba(255, 255, 255, 1);
  }

  61% {
    background-color: rgba(0, 0, 0, 0.6);
  }

  62% {
    background-color: rgba(255, 255, 255, 1);
  }
}

.drutil {
  animation: lightning 4s forwards;
}

@keyframes titleappear {
  0% {
    opacity: 0;
  }

  58% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

.title {
  transform: scale(5);
  animation: titleappear 4s forwards;
}

@keyframes glow-yellow {
  0% {
    text-shadow: 0 0 10px #ffbf00;
    color: #967100;
  }

  81% {
    text-shadow: none;
    color: #967100;
  }

  82% {
    color: #ffbf00;
    text-shadow: none;
  }

  90% {
    color: #ffbf00;
    text-shadow: none;
  }

  100% {
    color: #ffbf00;
    text-shadow: 0 0 10px #ffbf00;
  }
}

.SOL {
  animation: glow-yellow 5s forwards;
  color: #967100;
  font-family: "Le Jour";
  text-shadow: 0 0 10px #ffbf00;
}

@keyframes glow-blue {
  0% {
    text-shadow: none;
    color: #228484;
  }

  66% {
    text-shadow: none;
    color: #228484;
  }

  81% {
    color: #228484;
  }

  82% {
    color: #2ba5a5;
    text-shadow: none;
  }

  90% {
    color: #2ba5a5;
    text-shadow: none;
  }

  100% {
    color: #2ba5a5;
    text-shadow: 0 0 10px #2ba5a5;
  }
}

.MUN {
  animation: glow-blue 5s forwards;
  color: #228484;
  font-family: "Le Jour";
}

.slogan {
  font-size: 20px;
  color: white;
}

.line {
  width: 265px;
  position: absolute;
  top: 65%;
}

.navbar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 120px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  /* transform: translate(0px, -100%); */
}

.logo {
  display: grid;
  grid-template-columns: 100px 125px;
}

.navbar img {
  height: 80px;
  width: 80px;
}

.logotext {
  align-self: center;
  font-family: "Le Jour";
}

.logoSOL,
.logoMUN {
  color: #2ba5a5;
  font-size: 25px;
}

.logoSOL {
  color: #ffbf00;
  position: relative;
  left: 0.45vw;
  /* yeah this is technically responsive dill with it -Best OC*/
}

.options {
  display: grid;
  display: flex;
  width: fit-content;
  gap: 20px;
}

.option {
  text-decoration: none;
  color: white;
  transition: all 0.8s;
  align-self: center;
  text-align: center;
  width: 170px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  flex: 1;
}

.option:hover {
  background-color: aliceblue;
  color: black;
}

/* ---------------- Slide Two ---------------- */

.slidetwo {
  background-image: url(Slide2backgroud.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: white;
  overflow: hidden;
  max-width: 100vw;
}

/* Default: all elements are off-screen, no animation yet */
.slidetwocontentdrutil,
.slidetwologodrutil {
  width: 50%;
}

.slidetwocontentdrutil {
  position: absolute;
  left: -100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  box-sizing: border-box;
}

.slidetwologodrutil {
  position: absolute;
  right: -100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  box-sizing: border-box;
}

.slidetwocontent {
  position: absolute;
  left: -100%;
  width: 50vw;
  display: flex;
  height: 100%;
  padding: 0 5vw;
  box-sizing: border-box;
  font-size: 25px;
  margin-bottom: 3vh;
}

.slidetwoactcontent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}

.slidetwoheading {
  font-size: 64px;
  margin-bottom: 3vh;
}

.slidetwologo {
  position: absolute;
  right: -100%;
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-items: center;
}

.slidetwologo img {
  margin: auto;
  width: 45vw;
  height: auto;
}

.hydhist {
  font-style: italic;
  font-family:
    color: #f85713;
  font-size: 40px;
}


.slidetwo.in-view .slidetwocontentdrutil {
  animation: contentin 1.5s forwards;
}

.slidetwo.in-view .slidetwologodrutil {
  animation: logoin 1.5s forwards;
}

.slidetwo.in-view .slidetwocontent {
  animation: contentin 3s forwards;
}

.slidetwo.in-view .slidetwologo {
  animation: logoin 3s forwards;
}

.slidetwo.in-view .slidetwologo img {
  animation: rotate 3s forwards;
}

/*--------------------SLIDE THREE------------------------*/

.slidethree {
  background-image: url(Slide3background.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.drutilthree {
  height: 100vh;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.slidethreeheading {
  color: #ffbf00;
  font-size: 64px;
  text-align: center;
  font-family: "Le Jour";
}

.committees {
  /* display: flex; */
  max-width: 70vw;
  height: 90vh;
  margin: auto;
  align-items: center;
}

.committee {
  position: relative;
  height: fit-content;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 3fr 1fr;
  transition: all 0.3s;
  overflow: hidden;
  bottom: 50vh;
  left: 30vw;
}

.odyssey {
  left: 0vw;
  top: -37vh;
  /* left:50%; */
  /* width:26vw; */
}

.lok .disec {}

.committee:hover {
  transform: scale(1.1);
}

.trojan:hover {
  transform: scale(1);
}

.committee-head {
  bottom: 0;
  color: white;
  font-family: "Le Jour";
  font-size: 24px;
  z-index: 999;
}

.committee-logo {
  padding: 0;
}

.committee-logo img {
  margin: auto;
  height: 16vh;
  margin: 0;
}

.committedesc {
  position: absolute;
  color: white;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: center;
  display: flex;
  padding-bottom: 18px;
  transform: translateY(-120%);
  transition: all 0.5s;
}

.committee:hover .committedesc {
  transform: translateY(0%);
}

.committedesc span {
  margin: auto;
  margin: auto 10px auto 10px;
}

.odyssey {
  transform: scale(1.1);
  animation: heartbeat 2s infinite;
}

/*-----------------SLIDE FOUR------------------*/

.slidefour {
  background-image: url(Slide4background.jpeg);
  position: relative;
  background-size: cover;
}

.drutilfour {
  max-width: 100vw;
  height: 100vh;
  padding: 10vh 5vw 10vh 5vw;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.slidefourhead {
  color: #ffbf00;
  font: "Le Jour";
  font-size: 64px;
}

.slidefourhr {
  width: 380px;
  float: left;
  margin-bottom: 2vh;
}

.slidefourlink {
  width: 100%;
  text-decoration: none;
  color: black;
  display: flex;
}

p {
  margin: auto;
  text-decoration: none;
  background-color: white;
  height: 5vh;
  width: 70%;
}

.slidefourtext {
  color: white;
  font-size: 32px;
  margin-top: 5vh;
  width: 70vw;
}

.linkanchor {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-family: "Le Jour";
  margin-top: 100px;
  text-align: center;
  animation: sell2 15s infinite ease-in-out;
}

.link,
.linkanchor {
  width: 40vw;
  background-color: #cd9900;
}

.link {
  background-color: #ffbf00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.star {
  width: fit-content;
  margin: auto;
  position: relative;
}

.star span {
  top: 43%;
  left: 18%;
  position: absolute;
  font-family: "Le Jour";
  transform: rotate(-20deg);
  font-size: 38px;
}

.star img {
  animation: rotate 5s infinite linear;
}

/*----------------- Slide 5 - ---------------- */

.slidefive {
  background-image: url(Slide5background.jpg);
  background-size: cover;
}

.drutilfive {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  padding: 40px;
}

.slidefiveheading {
  background-color: #ffbf00;
  color: none;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 54px;
  height: 70px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 17px 0 0 #ae8200;
  transition: all 0s;
}

.slidefiveheading:active {
  transform: translateY(7px);
  box-shadow: 0px 10px 0 0 #967100;
}

.slidefiveheading span {
  margin: auto;
}

.slide-two-container {
  color: white;
  margin-top: 5vh;
  margin-left: 7vh;
}

/*contact us*/

.contactus {
  height: 30vh;
  background-color: #175757;
  color: white;
  padding: 30px;
  font-size: 30px;
  line-height: 7vh;
  display: flex;
  flex-direction: row;
}

/* ---------------- Keyframes ---------------- */

@keyframes heartbeat {
  0% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1.1);
  }

  45% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1.1);
  }

  55% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes contentin {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes logoin {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(15%);
  }
}

.hex-committees {
  position: relative;
  width: 98vw;
  max-width: 1800px;
  height: 650px;
  margin: 0 auto;
  display: block;
}

.hex-committees {
  margin: 48px auto 0 auto;
}

.hex-committees .committee {
  position: absolute;
  min-width: 220px;
  width: auto;
  max-width: 370px;
  height: auto;
  min-height: 220px;
  padding: 20px 10px 30px 10px;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.hex-committees .loksabha {
  transform: translate(-50%, -50%) translate(0, -270px);
  z-index: 2;
}

.hex-committees .disec {
  transform: translate(-50%, -50%) translate(470px, -135px);
}

.hex-committees .unhrc {
  transform: translate(-50%, -50%) translate(470px, 135px);
}

.hex-committees .who {
  transform: translate(-50%, -50%) translate(0, 270px);
}

.hex-committees .unsc {
  transform: translate(-50%, -50%) translate(-470px, 135px);
}

.hex-committees .ip {
  transform: translate(-50%, -50%) translate(-470px, -135px);
}



@media (max-width: 1200px) {
  .hex-committees {
    width: 99vw;
    height: 90vw;
    min-width: 320px;
    min-height: 320px;
    max-width: 100vw;
    max-height: 100vw;
  }

  .hex-committees .committee {
    min-width: 38vw;
    max-width: 60vw;
    width: auto;
    height: auto;
    padding: 10px 5px 20px 5px;
  }

  .hex-committees .loksabha {
    transform: translate(-50%, -50%) translate(0, -36vw);
  }

  .hex-committees .disec {
    transform: translate(-50%, -50%) translate(62vw, -18vw);
  }

  .hex-committees .unhrc {
    transform: translate(-50%, -50%) translate(62vw, 18vw);
  }

  .hex-committees .who {
    transform: translate(-50%, -50%) translate(0, 36vw);
  }

  .hex-committees .unsc {
    transform: translate(-50%, -50%) translate(-62vw, 18vw);
  }

  .hex-committees .ip {
    transform: translate(-50%, -50%) translate(-62vw, -18vw);
  }

  .hex-committees .odyssey {
    transform: translate(-50%, -50%) translate(0, 0);
  }
}


.center-committees {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 32px;
  z-index: 3;
  overflow: hidden; 
}


.hex-committees .odyssey,
.hex-committees .trojan {
  position: static;
  left: unset;
  top: unset;
  transform: none;
  animation: none;
  overflow:hidden;
}


.odyssey {
  animation: heartbeat 2s infinite;
}

.trojan:hover {
  transform: scale(1.1);
}


@media (max-width: 1200px) {
  .center-committees {
    gap: 3vw;
  }
  .hex-committees .odyssey,
  .hex-committees .trojan {
    min-width: 38vw;
    max-width: 60vw;
  }
}